body {
  font-family: 'Roboto', sans-serif;
}

#home-banner h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 72px;
  color: #fcfcfc;
  margin: 0;
  top: 50%;
  left: 100%;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  //transform: translate(-90%, -35%);
}

#home-banner p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #fcfcfc;
}

.banner-home {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  width: 100%;
  height: 100vh; /* Ajusta el tamaño del banner al viewport, es el 100% de la altura de la ventana */
  overflow: hidden;
  z-index: 1;
}

// Specific CSS for your home-page

.banner-home img {
  width: 100%;
  height: auto;
}

.cards-container {
  padding: 20px 0;
  margin-top: -120px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center; /* Centra el contenedor de tarjetas horizontalmente */
}

.register-container {
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  // margin-bottom: 50px;
  padding: 150px 0;
  width: 100%;
  height: 700px;
}

.register-container p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.register-container h1 {
  margin: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.widget {
color:#fcfcfc;
width:360px;
height:130px;
padding: 0px 10px 10px 10px;
margin-bottom: 20px;
align-items: center;
background-color: #00000069;
transition: background 0.3s;
border-radius: 4px 4px 4px 4px;
display: flex;
justify-content: space-between; /* Agrega espacio entre elementos */
}

.widget-container {

  width: 100%;
  height: 500px;
  padding: 0px 10px 10px 10px;
  display: flex;
  justify-content: center;
  justify-content: space-between; /* Agrega espacio entre elementos */
}

.widget:hover {
  background-color: #000000a8;
}

.widget-icon svg {
  fill: #FFD700;
}

.img-overlay {
  position: relative;
}
.img-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  z-index: 1;
}



.card-padding{
  padding: 20px;
  margin-bottom: 10px; /* Agrega espacio entre elementos */
}
