<div class="footer-container">
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Sobre Nosotras</h6>
            <p class="text-justify">En <strong>SKILL SWAP</strong>, conectamos a mujeres con cursos creados por y para ellas. Empoderamos a nuestra comunidad a través del conocimiento compartido y el aprendizaje colaborativo. ¡Únete a nosotras y crece con Skill Swap!</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categorías</h6>
            <ul class="footer-links">
              <li><a href="#">Nutrición</a></li>
              <li><a href="#">Mindfulness</a></li>
              <li><a href="#">Escritura</a></li>
              <li><a href="#">Autoestima</a></li>
              <li><a href="#">Jardinería</a></li>
              <li><a href="#">Gastronomía</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Links Rápidos</h6>
            <ul class="footer-links">
              <li><a href="#">Sobre Nosotras</a></li>
              <li><a href="#">Contáctanos</a></li>
              <li><a href="#">Contribuye</a></li>
              <li><a href="#">Politica de Privacidad</a></li>
              <li><a href="#">Mapa del Sitio</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2024 Todos los derechos reservados por
         <a href="#">SkillSwap Team</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
  </footer>
</div>
