<div class="form-group has-search mt-3 w-50 mx-auto justify-content-center">
  <%= form_with url: courses_path, method: :get do %>
  <span class="fa-solid fa-magnifying-glass lupa"></span>
  <%= text_field_tag :query, nil, class: "form-control", placeholder:"¿Con cuál curso quieres empezar hoy?"%>
  <% end %>
</div>
