<h1>My Courses</h1>
<br>
<h1>As Teacher</h1>
<p><% @courses_as_teacher.each do |course| %>
  <%= link_to course.name, course %>
<% end %></p>

<h1>As Student</h1>
<p><% @courses_as_student.each do |course| %>
  <%= link_to course.name, course %>
<% end %></p>

<%= link_to 'Volver a cursos', courses_path %>
g
