<div class="mycourses-container mt-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1 id="home-banner">Mis Cursos</h1>
      <br>
      <h2>Docente </h2>
      <div class="row">
        <% @courses_as_teacher.each do |course| %>
          <div class="col-md-4 mb-4 d-flex justify-content-center">
            <%= render partial: "courses/course", locals: { course: course } %>
          </div>
        <% end %>
      </div>

      <h2>Estudiante</h2>
      <div class="row">
        <% @courses_as_student.each do |course| %>
          <div class="col-md-4 mb-4 d-flex justify-content-center">
            <%= render partial: "courses/course", locals: { course: course } %>
          </div>
        <% end %>
      </div>

      <div class="text-center mt-4">
        <%= link_to 'Volver a cursos', courses_path, class: 'btn btn-flat' %>
      </div>
    </div>
  </div>
</div>
