<div class="col-4 mb-4" style="padding: 0 5px;">
  <div class="card-swap">
    <a href="#">
      <%= image_tag course.photo %>
    </a>
    <div class="card-body">
      <h5 class="card-title"><%= link_to course.name, course_path(course), class:"text-decoration-none text-black" %></h5>
      <div class="stats-line"></div>
        <div class="card-stats">
          <div class="stats-item">
            <i class="fas fa-users"></i> 200
          </div>
          <div class="stats-item">
            <i class="fas fa-book-open"></i> 50
          </div>
          <div class="stats-item">
            <i class="fas fa-dollar-sign"></i> $<%= course.price %>
          </div>
        </div>
      </div>
    </div>
</div>
