.course_banner {
  width: 100%;
  padding: 20px 0;
  background-color: #5D3277; /* O cualquier otro color que prefieras */
  color: white;
}

.spacing {
  margin-right: 57px; /* Ajusta el espacio según necesites */
}

.spacing1 {
  margin-right: 57px; /* Ajusta el espacio según necesites */
  margin-left: 50px;
}

#course-banner-titles{
  font-size: small;
}
